.agent-config-card .agent-config {
    font-size: 77px;
    height: 125px;
    width: 125px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
}
a.agent-config-card:hover,
button.agent-config-card:hover {
    text-decoration: none;
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}
.agent-config-card {
    margin: 10px;
    display: inline-block;
    background: none;
    padding: 0;
}
.agent-config-label {
    text-align: center;
    margin: 10px 0;
}
