.agent-configs .agent-config {
    font-size: 77px;
    height: 125px;
    width: 125px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    border-radius: 6px;
}
.agent-configs a:hover {
    text-decoration: none;
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}
