.navbar {
    margin-top: 20px;
}
.navbar-brand > img {
    margin-top: -6px; /* center the 32 px high img in a 20px div with 15px padding on top */
    float: left;
}
.container {
    max-width: 960px;
}

.mini-centered {
    max-width: 400px;
    margin: 0 auto;
}

.big-alert-icon {
    font-size: 2em;
    float: left;
    margin-top: -4px;
    margin-right: 10px;
}

.control-label {
    font-weight: normal;
}

.control-label.requiredField {
    font-weight: bold;
}

.fa.fake-icon {
    font: inherit;
    font-weight: bold;
}
