/* float step div to the right during creation wizard */
.wizard-step {
    float: right;
}

/* big name! */
#id_name {
    font-weight: bold;
    font-size: 1.75em;
    height: 1.75em;
}

.taskpair.disabled {
    -webkit-filter: saturate(0%) contrast(150%);
    filter: saturate(0%) contrast(150%);
}
.taskpair {
    margin-bottom: 20px;
}

.taskpair-icons {
    margin: 10px;
    display: inline-block;
}
@media (min-width: 768px) { .taskpair-icons {
    float: right;
}}

.task-icon {
    display: inline-block;
    height: 125px;
    width: 125px;
    padding: 10px;
    text-align: center;
}
.task-icon:first-child {
    padding-right: 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.task-icon:last-child {
    padding-left: 15px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
legend .task-icon {
    height: 42px;
    width: 42px;
    margin-bottom: 4px;
}
legend .task-icon:last-child ,
legend .task-icon:first-child {
    padding: 0;
}
legend .task-icon  {
    font-size: 30px;
}
.task-icon  {
    font-size: 77px;
}
.task-pair-arrow {
    color: white;
    font-size: 30px;
    margin: 47px -17px 0;
    vertical-align: top;
}
.task-details {
    color: rgb(51,51,51);
}
.task-options {
    max-height: 100px;
    overflow-y: auto;
    margin: 0;
}
