{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load include_string %}

{% block title %}{{ object }} config - {{ block.super }}{% endblock %}

{% block menu_agent_class %}active{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'helper/css/agents.css' %}">
{% endblock %}

{% block content %}
    <fieldset><legend class="agent-config">
        {{ object }} config
        {% if object.configured %}
        <i class="glyphicon glyphicon-ok-sign"></i>
        {% else %}
        <i class="glyphicon glyphicon-warning-sign"></i>
        {% endif %}
</legend></fieldset>

    <div class="well">
        {% include_docstring object.agent %}
    </div>


    {% crispy form %}
{% endblock content %}
