{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Agent configs - {{ block.super }}{% endblock %}

{% block menu_agent_class %}active{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'helper/css/agents.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %}
    <p class="clearfix">
        <a class="btn btn-primary btn-lg new-agent" 
            href="{% url 'agent_config_create' %}">Configure new Agent</a>
    </p>
    <div class='agent-configs'>
    {% for object in object_list %}
        <a href="{{ object.get_absolute_url }}" class="agent-config-card">
            {% if not object.configured %}
                <i class="fa fa-exclamation-triangle agent-error"></i>
            {% endif %}
            <div class="agent-config" style="background:{{ object.agent.ui.background }};color:{{ object.agent.ui.foreground }}">
                {{ object.agent.ui.icon|safe }}
            </div>
            <div class="agent-config-label">{{ object }}</div>
        </a>
    {% endfor %}
    </div>
{% endblock content %}
