{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object.name }} config - {{ block.super }}{% endblock %}

{% block menu_agent_class %}active{% endblock %}

{% block content %}
    <h1>

        {% if object.configured %}
        <i class="glyphicon glyphicon-ok-sign" style="color:green"></i>
        {% else %}
        <i class="glyphicon glyphicon-warning-sign" style="color:red"></i>
        {% endif %}
        {{ object }} config</h1>

    <div class="well">
    {% with "helper/agent_help/"|add:object.name|add:".html" as template %}
        {% include template %}
    {% endwith %}
    </div>


    {% crispy form %}
{% endblock content %}
