{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Tasks - {{ block.super }}{% endblock %}

{% block menu_task_class %}active{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'helper/css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'helper/css/tasks.css' %}">
    {{ block.super }}
{% endblock %}


{% block content %}
    <p class="clearfix">
        <a class="btn btn-primary btn-lg new-task"
            href="{% url 'task_pair_create' %}">Create new Task</a>
    </p>
    <div class="task-pairs">
    {% for object in object_list %}
    <a href="{{ object.get_absolute_url }}" class="task_pair">
        <div class="panel panel-default panel-card">
            <div class="panel-heading">
                {% if object.schedule %}
                    {% if object.enabled %}
                    <i class="fa fa-play"></i>
                    {% else %}
                    <i class="fa fa-pause"></i>
                    {% endif %}
                    |
                    ⏰{{ object.schedule }}min
                    |
                {% endif %}
                {{ object.cause_agent }}
            </div>
            <div class="panel-body">
                {{ object.cause_name }}
                <ul class="task-options">
                    {% for key, value in object.cause_options.items %}
                    <li>{{ key }}: {% if 'pass' in key %}hunter2{% else %}{{ value }}{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <i class="fa fa-arrow-right task-pair-arrow"></i>
        <div class="panel panel-default panel-card">
            <div class="panel-heading">
                {{ object.effect_agent }}
            </div>
            <div class="panel-body">
                {{ object.effect_name }}
                <ul class="task-options">
                    {% for key, value in object.effect_options.items %}
                    <li>{{ key }}: {% if 'pass' in key %}hunter2{% else %}{{ value }}{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </a>
    {% endfor %}
    </div>
{% endblock content %}
