{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block menu_task_class %}active{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'helper/css/tasks.css' %}">
{% endblock %}

{% block content %}
{% if object.effect_view != None %}
<div class="alert-info alert" role="alert">
    <p>
    <i class="fa fa-info-sign big-alert-icon"></i>
    This Task's effect returns data on GET requests to
    <kbd>{{ request.scheme}}://{{ request.get_host }}{{ object.get_absolute_url }}/{{ object.effect_agent.options.secret }}</kbd>.
    </p>
</div>
{% endif %}

    {% crispy form %}
{% endblock content %}
