[program:helper-app]
command=env DJANGO_SETTINGS_MODULE=project.settings {{ BASE_DIR }}/venv/bin/gunicorn helper.wsgi --bind unix:/tmp/helper.sock -t 60 -w {{ concurency }}
directory={{ BASE_DIR }}
user={{ USER }}
autostart={{ autostart }}
